
<div class="modal right come-from-modal fade"  id="import_modal" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" style="width:50%;max-width:1000px !important"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Import</h2>
                <a type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body overflow-auto">
                <h4>Import CNSS text</h4>           
                
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label required class="text-size-12">File:</label>
                        <input type="file" accept=".txt" class="form-control" id="file" name="file"/>
                    </div>
                </div>

                {# <hr>     #}
                {# <h4>Import CIMR text</h4>           
                <form id="import_cimr">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label required class="text-size-12">Profile:</label>
                            <input type="text" class="form-control" id="profile" name="profile" readonly/>
                        </div>
                    </div>
                    <hr>
                </form>
                 #}
            </div>
            {# <div class="modal-footer justify-content-start" >
                <button type="submit" class="btn btn-secondary" form="add_echeance">Enregistre</button>
                <a type="button" class="btn btn-link" data-bs-dismiss="modal"  data-dismiss="modal">Fermer</a>
            </div> #}
        </div>
    </div>
</div>