{% extends 'base.html.twig' %}
{% block title %}FCZ -RH - Home{% endblock %}


{% block body %}

    {% include 'includes/actions.html.twig' %}
    <div class="row ">
        <div class="col-12 mb-4">
            <div class="card  border-0 shadow">
                
                <div class="card-body p-2">
                    <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
