<style>

#modal_probleme p {
    font-size: 12px !important;
}
	
</style>
<div class="modal right come-from-modal fade" id="modal_probleme" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" style="width:40%;max-width:1000px !important"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Problèmes</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-start" >
                <button type="submit" class="btn btn-secondary" id="save_problemes">Enregistre</button>
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>