<div class="row">
    <div class="col-md-3 mb-2">
        <label for="cnss">CNSS (*)</label>
        <input type="text" disabled name="cnss" id="cnss" class="form-control type_cnss">
    </div>
    <div class="col-md-3 mb-2">
        <label for="date_declaration_cnss">Date déclaration cnss (*)</label>
        <input type="date" disabled name="date_declaration_cnss" id="date_declaration_cnss" class="form-control type_cnss">
    </div>
    <div class="col-md-3 mb-2">
        <label for="cimr">CIMR (*)</label>
        <input type="text" disabled name="cimr" id="cimr" class="form-control type_cnss">
    </div>
    <div class="col-md-3 mb-2">
        <label for="date_declaration_cimr">Date déclaration CIMR (*)</label>
        <input type="date" disabled name="date_declaration_cimr" id="date_declaration_cimr" class="form-control type_cnss">
    </div>
    <div class="col-md-3 mb-2" style="position:relative">
        <label for="rib">RIB (*)</label>
        <input type="number"  name="rib" id="rib" class="form-control">
        <i class="fas fa-circle-check checkClass"></i>
    </div>
    <div class="col-md-4 mb-2">
        
    </div>    
</div>

 <br>
 <hr>

 <button type="submit" class="btn btn-secondary" style="float:right;" form="new_cnss">Suivant</button>
