<style>
        


 .btnclose{
    background-color: #f7f4f4;
 }
   .disabled-link {
        pointer-events: none; /* Disable click events */
        color: gray; /* Change text color to indicate disabled state */
        text-decoration: none; /* Remove underlining */
        cursor: not-allowed; /* Show a "not allowed" cursor on hover */
    }

</style>

<div class="modal right come-from-modal fade" id="modal_ajouter" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" style="max-width:900px !important" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter salarie</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills">                
                            <li class="nav-item mr-2">
                                <a href="#etat_civil" id="etatcivil" class="nav-link active disabled-link disabled-link" >Etat Civil</a>
                            </li>
                            <li class="nav-item">
                                <a href="#contrat" id="contract" class="nav-link noclick disabled-link" >Contrat</a>
                            </li>                
                            <li class="nav-item">
                                <a href="#cnss_rib" id="cnss_rib" class="nav-link noclick disabled-link" >Cnss Rib</a>
                            </li>                
                            <li class="nav-item">
                                <a href="#plus_info" id="plus_info" class="nav-link noclick disabled-link" >Plus Info</a>
                            </li>                
                        </ul>
                    </div>
                    <div class="card-body">
                    <div class="tab-content">
                            {# <form> #}
                                <div class="tab-pane fade show active" id="etat_civil">
                                      <form  id="new_salarie">

                                             {% include 'salarie/gestion_salarie/pages/etat_civil.html.twig' %}     
                                      </form>

                                </div>

                                <div class="tab-pane fade " id="contrat">
                                    <form  id="new_contract">

                                    {% include 'salarie/gestion_salarie/pages/contrat.html.twig' %}     


                                    </form>                       
                                </div>

                                <div class="tab-pane fade" id="cnss_rib">
                                    <form  id="new_cnss">
                                   
                                        {% include 'salarie/gestion_salarie/pages/cnss_rib.html.twig' %}

                                    </form>                                
                                </div>


                                <div class="tab-pane fade " id="plus_info">

                                    <form  id="new_plus">

                                    {% include 'salarie/gestion_salarie/pages/plus_info.html.twig' %}    

                                    </form>

                                </div>
                            {# </form> #}
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Enregistre</button>
                <button type="button" class="btn btn-link text-gray-600 me-auto btnclose" st data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>