{% extends 'base.html.twig' %}

{% block title %}RH - Gestion des echeances{% endblock %}


{% block body %}
       <div>
        <div class="col-12 mb-4">
            <div class="card  border-0 shadow">
                <div class="card-body p-2 m-2">
                    <div class="row">
    {% include 'includes/actions.html.twig' %}
                       
                    </div>
                    <hr>
                  

                        <table id="example" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Nature</th>
            <th>CINE</th>
            <th>Contract</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                   
               
            </tr>
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
    
    {% include 'mouvement/Arret/modals/ajouter_arret.html.twig' %} 


{% endblock %}


{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('mouvement_arret') }}
{% endblock %}

